.layout {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;

  .desktop {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 39px);
    top: 0;
  }
}

@media (min-width: 768px) {}