.Button {
	padding: .5rem 1rem;
	border-radius: 5px;
	font-weight: 700;
	min-height: 32px;
	min-width: 64px;
	display: flex;
	align-items: center;
	justify-content: center;

	&.PRIMARY {
		background-color: var(--blue50);
		color: var(--white);

		&.Disabled {
			background-color: var(--blue30);
		}
	}

	&.Disabled {
		pointer-events: none;
	}
}