.profile-container {
  width: 100%;

  .profile-item {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: var(--greyShadow2dp);
    margin-bottom: 1rem;

    .toggle-btn {
      display: flex;
      align-items: center;
      height: 40px;
      width: 100%;
      font-size: 14px;
      font-weight: 600;
      padding: 0 1rem;
      color: var(--grey50);
      position: relative;

      .icon {
        margin-right: .5rem;
        font-size: 12px;
        transition: .5s;
      }

      &::after {
        content: "";
        height: 1px;
        width: 96%;
        background: var(--grey20);
        position: absolute;
        top: 100%;
        left: 2%;
      }
    }

    .bp3-code-block {
      background: none;
      border: none;
      box-shadow: none;
      margin: 0;
      font-family: "Quicksand";
    }

    .heading {
      color: var(--teal50);
      font-size: 16px;
      margin-bottom: .5rem;
    }

    .profile-form-label {
      margin-bottom: .25rem;
      font-size: 14px;
      font-weight: 700;
    }

    .profile-item-footer {
      display: flex;
      justify-content: space-between;

      .action-btn {
        display: flex;
        border-radius: 15px;
        padding: .5rem .75rem;
        font-weight: 600;

        .icon {
          font-size: 16px;
        }

        &.cancel-btn {
          background: var(--grey10);
          color: var(--grey70);

          .icon {
            margin-right: .5rem;
            color: var(--red60);
          }
        }

        &.save-btn {
          background: var(--white);
          box-shadow: var(--greyShadow2dp);
          color: var(--grey70);

          .icon {
            margin-right: .5rem;
            color: var(--teal50);
          }
        }
      }
    }

    &.active {
      background: var(--lightgrey1);
      box-shadow: none;
      height: auto;

      .toggle-btn {
        color: var(--grey70);

        .icon {
          transform: rotate(90deg)
        }
      }
    }
  }
}