// blueprint checkbox 
.bp3-control {
  margin-bottom: 0;
}

.form-group {
  position: relative;
  margin-bottom: 15px;

  label {
    font-family: "Quicksand";
    display: block;
    margin-bottom: 10px;
    color: $secondary;
    background-color: #fff;
    font-weight: 600;
    font-size: 15px;
  }

  .input-container {
    position: relative;
    display: block;

    .input-label {
      position: absolute;
      top: 50%;
      left: 10px;
      padding: 0 5px;
      transform: translateY(-50%);
      transition: .2s;
      z-index: 1;
      cursor: text;
    }

    .check-icon {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      color: var(--green50);
      opacity: 0;
      visibility: hidden;
      transition: .3s;
      font-size: 12px;
    }

    .icon-container {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      font-size: 16px;
    }

    input {
      position: relative;
      width: 100%;
      height: 45px;
      padding: 0 0 0 15px;
      line-height: initial;
      color: #1b0238;
      background-color: transparent !important;
      border: 1px solid rgb(228, 228, 228);
      border-radius: 5px;
      box-shadow: unset !important;
      transition: 0.5s;
      font-size: 15px;
      font-weight: 600;
      outline: none;


      &:focus {
        border: 1px solid var(--blue50);
      }

    }

    &.no-focus-effect {
      input:focus {
        border: 1px solid rgb(228, 228, 228);
      }
    }

    &.input-bg {}

    &.has-icon {
      input {
        padding-left: 2rem;
      }
    }

    &.has-label {
      input {
        &::-webkit-input-placeholder {
          /* WebKit browsers */
          color: transparent;
        }

        &:-moz-placeholder {
          /* Mozilla Firefox 4 to 18 */
          color: transparent;
        }

        &::-moz-placeholder {
          /* Mozilla Firefox 19+ */
          color: transparent;
        }

        &:-ms-input-placeholder {
          /* Internet Explorer 10+ */
          color: transparent;
        }
      }
    }

    &.input-small {
      input {
        height: 30px;
        font-size: 13px;
      }
    }

    &.focus {
      .input-label {
        top: 0;
        left: 5px;
        font-size: 12px;
      }
    }

    &.valid {
      .check-icon {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &.label-transparent {
    label {
      background: none;
    }
  }
}

@media (min-width: 992px) {
  .form-group {
    margin-bottom: 20px;


    .select-box-container {
      width: 233px;
    }

    .input-container {
      display: inline-block;

      &.block {
        display: block;
        width: 100%;
      }

      &.focus {
        label {
          left: 0;
          font-size: 15px;
        }
      }
    }
  }
}