// container
$container-padding-x : 15px;
// Source mixin

$container-max-widths: (sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px);

@mixin make-container($max-width: 100%, $padding-x: $container-padding-x) {
  position: relative;
  width: 100%;
  max-width: $max-width;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

.container {
  @include make-container();
}

@each $name,
$size in $container-max-widths {
  .container-#{$name} {
    @include make-container($size);
  }
}

@media(min-width: 576px) {

  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media(min-width: 768px) {

  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}


@media(min-width: 992px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media(min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}


@media(min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}

// Grid
.gird-container {
  display: grid;
  height: 100%;
}

// Row
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-between {
  align-items: space-between;
}

.align-items-around {
  align-items: space-around;
}

// cols
.col {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  &.width-auto {
    width: auto;
  }
}

@media (min-width: 576px) {
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-4 {
    width: 33.3333333333%;
  }
}

@media (min-width: 768px) {

  .col-md-12 {
    width: 100%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.666666667%;
  }
}

@media (min-width: 992px) {
  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-lg-7 {
    width: 58.333333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666666667%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-lg-3 {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .col-xl-9 {
    width: 75%;
  }

  .col-xl-8 {
    width: 66.6666666667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-4 {
    width: 33.3333333333%;
  }

  .col-xl-3 {
    width: 25%;
  }
}