.app-loading-indicator {
  position: absolute;
  top: calc(62px + 1rem);
  right: 1rem;
  width: 60px;
  height: 30px;
  transition: .2s;
  opacity: 0;
  visibility: hidden;

  > .linear-spinner-container {
    margin-left: auto;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }

  // animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media(min-width: 992px) {
  .app-loading-indicator {
    top: calc(64px + 1rem);
  }
}