.table-wrapper {
  overflow-x: auto;
  width: 100%;

  .table-heading {
    display: flex;

    h2 {
      color: var(--bluegrey);
      font-size: 20px;
      display: flex;
      align-items: center;

      >svg {
        margin-right: .5rem;
      }
    }

    .form-group {
      display: none;
    }
  }

  .table-root {
    width: 100%;
    background-color: var(--white);

    th {
      color: var(--flat-color-table, var(--flat-def-color-table));
      border-bottom: 1px solid;
      border-bottom-color: var(--flat-border2-table, var(--flat-def-border2-table));
      position: relative;
      white-space: nowrap;

      .sort-icon {
        margin-right: .5rem;
      }

      .filter-icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }

    }

    td {
      font-weight: 700;
      color: var(--grey40);
      border-bottom: 1px solid var(--flat-border-table, var(--flat-def-border-table));
      vertical-align: inherit;
      white-space: nowrap;

      .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: .5rem;
        border-radius: 50%;
      }

      &.dark {
        color: var(--grey70)
      }
    }

    tbody {
      tr {

        &.selected {
          background: var(--flat-bg-table-hover, var(--flat-def-bg-table-hover));

          td {
            background: var(--flat-bg-table-hover, var(--flat-def-bg-table-hover));
            border-bottom: 1px solid var(--flat-borderlast-table, var(--flat-def-borderlast-table));
          }
        }
      }
    }
  }

  footer {
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .counter {
      padding: .5rem 0;

      >div {
        padding: 0 1rem;
        font-size: 13px;
        font-weight: 500;
        color: var(--grey40);
        vertical-align: middle;
        background-color: var(--lightgrey);
        border-radius: 15px;
        display: flex;
        align-items: center;
        height: 25px;

        span {
          color: var(--grey70);
          margin: 0 .25rem;
        }

        .icon.loading {
          animation: rotate 1s infinite;
        }

        .reload-btn {
          position: relative;
          height: 100%;
          font-size: 19px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          color: var(--teal50);
          margin-left: .5rem;
          transition: .3s;
        }
      }
    }
  }

  .pagination-container {
    margin: .5rem 0;

    .pagination-list {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;

      .pagination-list-item {
        .pagination-btn {
          padding: .5rem;
          margin: 0 2px;
          display: flex;
          align-items: center;
          font-weight: 700;
          color: var(--grey40);
          height: 25px;
          border-radius: 5px;
          transition: .3s;

          &.navigation-btn {
            font-size: 11px;
          }

          &.disabled {
            color: var(--grey20);
            pointer-events: none;
          }

          &:not(.disabled):hover {
            background-color: var(--color0);
            color: var(--color50);
          }
        }

        &.active {
          .pagination-btn:not([class="navigation-btn"]) {
            color: var(--grey80);
            box-shadow: var(--greyShadow2dp);
            background-color: #fff;
          }
        }
      }
    }
  }

  &.table-transparent {
    .table-root {
      background: none;

      th {
        color: var(--grey50);
        border-bottom-color: var(--grey30);
      }

      td {
        background: none !important;
        color: var(--grey80);
      }

      tr:last-of-type {
        td {
          border-bottom: none;
        }
      }
    }
  }

  &.table-small {
    .table-root {
      background: none;

      th {
        font-size: 10px;
        font-weight: 700;
        padding-right: 0;
        padding-left: 0;
      }

      td {
        padding-left: 0;
        padding-right: 0;
        font-size: 11px;
      }
    }
  }
}

.column-filter-content-wrapper {
  padding: .5rem;
}

@media(min-width: 768px) {
  .table-wrapper {
    .table-heading .form-group {
      display: block;
    }

    footer {
      padding: 0 1rem;
    }

    &.table-small {
      .table-root {
        background: none;

        th {
          font-size: 11px;
          font-weight: 700;
          padding-right: 0;
          padding-left: 0;
        }

        td {
          padding-left: 0;
          padding-right: 0;
          font-size: 12px;
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-360deg);
  }
}