.bp3-tag {
  background-color: var(--color5) !important;
  color: var(--color70) !important;
  transition: all .18s ease-in !important;
  cursor: pointer;

  &:hover {
    box-shadow: var(--shadow2dp) !important;
    background-color: var(--color5) !important;
    transition: all .2s ease-in !important;
  }
}