.TableLabel {
  border-radius: 5px;
  display: inline-block;
  padding: 2px 5px;
  background-color: var(--grey10);
  color: var(--grey80);
  font-size: 12px;
  font-weight: 800;

  &.success {
    color: var(--green60);
    background: var(--teal0);
  }

  &.warning {
    color: var(--orange70);
    background: var(--orange0);
  }

  &.danger {
    color: var(--red70);
    background: var(--pink10);
  }

  &.info {
    color: var(--blue60);
    background: var(--blue5);
  }
}

.TableInfoLink {
  background-color: none;
  color: var(--blue80);
  font-weight: 600;
  text-decoration: underline;
}